@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: 'Roboto', sans-serif;
  background-color: $mainBgColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
