/* ---------------------------------- utils --------------------------------- */
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------------------------- base ---------------------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* --------------------------------- partials -------------------------------- */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.sign {
  background-color: #f7941e;
}

.sign .container {
  display: flex;
}

.container-1 {
  display: flex;
  flex-direction: column;
  margin-right: 229px;
  margin-left: 235px;
  min-width: 330px;
}

.container-2 {
  display: flex;
  align-items: center;
}

.sign-headline {
  font-size: 32px;
  line-height: 140.62%;
  color: #000;
  padding-top: 81px;
}

.sign-text {
  font-size: 32px;
  line-height: 140.62%;
  color: #000;
  padding-bottom: 69px;
}

.sign-list {
  display: flex;
  gap: 16px;
}

.sign-button {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  min-width: 200px;
  height: 48px;
  left: 54.79%;
  right: 31.32%;
  top: 40%;
  bottom: 40%;
  margin: 0 auto;
  background-color: transparent;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.sign-button:hover, .sign-button:focus {
  color: #ffffff;
  background-color: #231f20;
}

.link:hover,
.link:focus {
  color: #f7941e;
}

.title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.35;
}

.gifts-examples {
  padding: 96px 0 120px;
  background-color: #ffffff;
}

.gifts-examples-title,
.gifts-examples-subtitle {
  text-align: center;
}

.gifts-examples-subtitle {
  margin-bottom: 57px;
}

.gifts-examples-list {
  display: flex;
}

.card-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 74px;
}

.card-description {
  padding: 24px;
}

.gifts-examples-item {
  background-color: #f1f1f2;
}

.gifts-examples-item:not(:last-child) {
  margin-right: 30px;
}

.gifts-examples-item:hover {
  background-color: #ffffff;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}/*# sourceMappingURL=index.css.map */