<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gifts</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <h2>Our Best Blogs Ever</h2>
        <p>“Try our blog to find the best tips and tricks to select your gift”</p>
        <div class="section-select-your-gift">
          <img src="./images/Media.jpg" alt="">
          <p>Mr. John Doe</p>
          <p>The best way to wish your wife</p>
          <p>Read More</p>
        </div>
        <ul class="database">
          <li><h3>Database to find the gifts for your girlfriend</h3></li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</li>
        </ul>
        <ul class="database">
          <li><h3>How Artificial Intelligence read your mind to find the best gift</h3></li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</li>
        </ul>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
