<footer class="footer">
  <div class="container">
    <ul class="foot-nav">
      <li class="item"><a href="">Home</a></li>
      <li class="item"><a href="">About</a></li>
      <li class="item"><a href="">Service</a></li>
      <li class="item"><a href="">Blog</a></li>
    </ul>

    <ul class="list socials">
      <li class="item">
        <a href="#" class="link" aria-label="Facebook">
          <svg class="socials-icon" width="20" height="20">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="item">
        <a href="#" class="link" aria-label="Twitter">
          <svg class="socials-icon" width="20" height="20">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>

      <li class="item">
        <a href="#" class="link" aria-label="Instagram">
          <svg class="socials-icon" width="20" height="20">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="item">
        <a href="#" class="link" aria-label="Youtube">
          <svg class="socials-icon" width="20" height="20">
            <use href="./images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>

      <li class="item">
        <a href="#" class="link" aria-label="Pinterest">
          <svg class="socials-icon" width="20" height="20">
            <use href="./images/icons.svg#pinterest"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="copyright">
      <p class="text">&#169;2010 — 2020</p>
      <p class="text">Privacy — Terms</p>
    </div>
  </div>
</footer>
