<footer>
  <ul class="foot-nav">
    <li class="item"><a href="">Home</a></li>
    <li class="item"><a href="">About</a></li>
    <li class="item"><a href="">Service</a></li>
    <li class="item"><a href="">Blog</a></li>
  </ul>
  <!-- <ul>
    <li><img src="./images/facebook.svg" alt="facebook icon" /></li>
    <li><img src="./images/twitter.svg" alt="twitter icon" /></li>
    <li><img src="./images/instagram.svg" alt="instagram icon" /></li>
    <li><img src="./images/youtube.svg" alt="youtube icon" /></li>
    <li><img src="./images/pinterest.svg" alt="pinterest icon" /></li>
  </ul> -->
  <p>&#169;2010 — 2020</p>
  <p>Privacy — Terms</p>
</footer>
