<!-- Секція "Приклади подарунків" -->
<section class="gifts-examples">
  <div class="container">
    <h2 class="gifts-examples-title title">Gifts for all Occasions</h2>
    <p class="gifts-examples-subtitle subtitle">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="gifts-examples-list list">
      <li class="gifts-examples-item">
        <div class="thumb">
          <img src="./images/examp1.jpg" alt="example1" width="270" />
        </div>
        <div class="card-description">
          <h3 class="card-title">Birthday</h3>
          <a></a>
          <a href="" class="link">See More &#8250;</a>
        </div>
      </li>
      <li class="gifts-examples-item">
        <div class="thumb">
          <img src="./images/examp2.jpg" alt="example2" width="270" />
        </div>
        <div class="card-description">
          <h3 class="card-title">Anniversary</h3>
          <a href="" class="link">See More &#8250;</a>
        </div>
      </li>
      <li class="gifts-examples-item">
        <div class="thumb">
          <img src="./images/examp3.jpg" alt="example3" width="270" />
        </div>
        <div class="card-description">
          <h3 class="card-title">Valentine's Day</h3>
          <a href="" class="link">See More &#8250;</a>
        </div>
      </li>
      <li class="gifts-examples-item">
        <div class="thumb">
          <img src="./images/examp4.jpg" alt="example4" width="270" />
        </div>
        <div class="card-description">
          <h3 class="card-title">Christmas</h3>
          <a href="" class="link">See More &#8250;</a>
        </div>
      </li>
    </ul>
  </div>
</section>
