<header>
  <div class="container">
    <div class="head-position">
      <div class="logo-position">
        <a class="head-logo link" href="/">logo</a>
      </div>
      <nav class="site-nav">
        <ul class="nav-list list">
          <li class="nav-item"><a class="nav-link link" href="">Home</a></li>
          <li class="nav-item">
            <a class="nav-link link" href="">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="">Servises</a>
          </li>
          <li class="nav-item"><a class="nav-link link" href="">Blogs</a></li>
        </ul>
      </nav>
      <button class="head-btn" type="button">gift finder</button>
    </div>
  </div>
</header>
