<section>
  <div class="container we-work">
    <div class="we-work-text">
      <h2 class="we-work-title">How we work</h2>
      <p class="work-text">
        We’ve actually already asked hundreds of women what they want, and made
        a database with the results. All you have to do is take our short survey
        that only takes seconds, and our proprietary algorithm will match you
        with a few perfect gift options.
      </p>
      <button type="button" class="we-work-button">LEARN MORE</button>
    </div>
    <img src="./images/work.jpg" alt="Card thanks" width="722" />
  </div>
</section>
