<section>
        <h2>Our Best Blogs Ever</h2>
        <p>“Try our blog to find the best tips and tricks to select your gift”</p>
        <div class="section-select-your-gift">
          <img src="./images/media.jpg" alt="">
          <p>Mr. John Doe</p>
          <p>The best way to wish your wife</p>
          <p>Read More</p>
        </div>
        <ul class="bestway-list">
          <li class="bestway-item">
            <h3 class="bestway-subtitle">Database to find the gifts for your girlfriend</h3>
            <p class="bestway-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <a class="bestway-link" href="#">Read more</a>
          </li >
          <li class="bestway-item">
            <h3 class="bestway-subtitle">How Artificial Intelligence read your mind to find the best gift</h3>
            <p class="bestway-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <a class="bestway-link" href="#">Read more</a>
          </li>
        </ul>
      </section>