<section class="sign">
  <div class="container">
    <div class="container-1">
      <h1 class="sign-headline">Ready to get started?</h1>
      <p class="sign-text">Sign up or contact us</p>
    </div>
    <div class="container-2">
      <ul class="sign-list list">
        <li class="sign-item">
          <button type="button" class="sign-button">Find gift now</button>
        </li>
        <li class="sign-item">
          <button type="button" class="sign-button">How it works</button>
        </li>
      </ul>
    </div>
  </div>
</section>
