<section class="soc-link">
  <div class="container">
    <ul class="social-links list">
      <li class="social-links-item">
        <a href="" class="social-link link">
          <svg class="social-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-links-item">
        <a href="" class="social-link link">
          <svg class="social-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-links-item">
        <a href="" class="social-link link">
          <svg class="social-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-links-item">
        <a href="" class="social-link link">
          <svg class="social-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-links-item">
        <a href="" class="social-link link">
          <svg class="social-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-pinterest"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
