
.best-blogs {
   text-align: center;
   padding-top: 88px;
}

.best-blogs h2 {
  font-weight: 300;
   font-size: 32px;
   line-height: 38px;
   text-align: center;
}

.best-blogs .text {
   font-size: 18px;
   line-height: 1.36;
   text-align: left;
   margin-top: 23px;
   margin-bottom: 88px;
   text-align: center;
}

.section-select-your-gift {
   display: flex;
   width: 1440px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;

   background-color: $secondaryBgColor;
   color: $mainWhiteColor;
}

.discription {

   text-align: left;
   padding-top: 63px;
   padding-left: 78px;
   padding-right: 200px;
}

.bestblogs-name {
   font-size: 14px;
   line-height: 1.4; 
   margin-bottom: 27px;  
}

.bestblogs-text {
   font-size: 48px;
   line-height: 58px; 
   margin-bottom: 60px;
}

.bestblogs-link {
   font-size: 18px;
   line-height: 1.4;
}
