
.best-blogs {
   font-family: 'Gilroy';
   // width: 1400px;
   
}

.best-blogs h2 {
   font-size: 32px;
   line-height: 38px;
   text-align: center;
}

.best-blogs p {
   font-size: 18px;
   line-height: 135.94%;
   text-align: center;
}

.section-select-your-gift {
   display: flex;
   justify-content: center;
   width: 1440px;
   margin-left: auto;
   margin-right: auto;

   background-color: #231F20;
   color: #ffffff;
}

.discription {
   
   text-align: left;
   padding-top: 63px;
   padding-left: 78px;
}

.bestblogs-name {
   font-size: 14px;
   line-height: 140.62%; 
   margin-bottom: 27px;  
}

.bestblogs-text {
   font-size: 48px;
   line-height: 58px; 
   margin-bottom: 60px;
}

.bestblogs-link {
   font-size: 18px;
   line-height: 140.62%;
}
