.link {
  color: inherit;
  text-decoration: none;
  transition: all 250ms linear;
}
.link:hover,
.link:focus {
  color: $accentColor;
}
.thumb img {
  display: block;
  width: 100%;
  height: auto;
}
.title {
  font-size: 32px;
  line-height: 1.2;

  margin-bottom: 24px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.35;
}
.gifts-examples {
  padding: 96px 0 120px;
  background-color: $mainWhiteColor;
}
.gifts-examples-title,
.gifts-examples-subtitle {
  text-align: center;
}
.gifts-examples-subtitle {
  margin-bottom: 57px;
}
.gifts-examples-list {
  display: flex;
}
.card-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 74px;
}
.card-description {
  padding: 24px;
}
.gifts-examples-item {
  width: calc((100% - 90px) / 4);
  background-color: $mainBgColor;
  transition: all 250ms linear;
}
.gifts-examples-item:not(:last-child) {
  margin-right: 30px;
}
.gifts-examples-item:hover {
  background-color: $mainWhiteColor;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
