.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 545px;
  padding: 40px;

  background-color: $mainWhiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: $mainTextColor;
  background-color: $mainWhiteColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  color: $accentColor;
}

.modal-info {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
}

.modal-label {
  margin-bottom: 4px;
}

.label-title {
  display: block;
  color: $mainTextColor;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.input-field {
  padding-left: 12px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border: 1px solid $accentColor;
  outline: transparent;
}

.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.cosent-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: $mainTextColor;

  margin-bottom: 30px;
}

.conditions {
  color: $accentColor;
}

.btn-submit {
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
