.soc-link {
  padding-top: 55px;
  padding-bottom: 72px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links-item {
  width: 40px;
  height: 40px;
}

.social-links-item:not(:last-child) {
  margin-right: 24px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: $mainTextColor;
  @include animate(color);
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.social-icon {
  fill: currentColor;
}
